<div>
    <form (ngSubmit)="onSubmit()">

      <div [formGroup]="formGroup">
        <div *ngFor="let field of fields" class="form-row">
          <!--<df-item [field]="field" [formGroup]="formGroup" [value]="formGroup.value[field.key]" [meta]="meta" (dataModel)="dataChange($event,field.key)"></df-item>
          -->
          <div [ngSwitch]="true">
            <mat-input-container *ngSwitchCase="field.type === 'string' || field.type === 'number' || field.type === 'date'">
              <input matInput [formControlName]="field.key"
                [id]="field.key" [type]="field.type" 
                [ngStyle]="dfStyle(formGroup.value[field.key])" placeholder="{{field.label}}" 
                value="{{formGroup.value[field.key]}}" step="any"/>
              <mat-error *ngIf="!isValid">{{field.errMsg}}</mat-error>
            </mat-input-container>
            <!--<mat-form-field *ngSwitchCase="'string-auto'">
              <input matInput [id]="field.key" [type]="field.type" value="{{value}}" placeholder="{{field.label}}"  [formControl]="formControl"
                [formControlName]="field.key" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="this.optionSelected()">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
                      {{option.value}}
                   </mat-option>
              </mat-autocomplete>
            </mat-form-field>-->
            <!--<mat-input-container *ngSwitchCase="'textboxauto'">
                [id]="field.key" [type]="field.type" placeholder="{{field.label}}" value="{{value}}"/>
                <mat-error *ngIf="!isValid">{{field.label}} is required</mat-error>
              </mat-input-container>-->
            <mat-input-container *ngSwitchCase="field.type === 'string_multiline'">
              <textarea matInput [formControlName]="field.key"
              [id]="field.key" [type]="field.type" placeholder="{{field.label}}" value="{{formGroup.value[field.key]}}"></textarea>
              <mat-error *ngIf="!isValid">{{field.errMsg}}</mat-error>
            </mat-input-container>
            <mat-form-field *ngSwitchCase="field.type === 'reference_value'" >
              <mat-select [id]="field.key" [formControlName]="field.key" placeholder="{{field.label}}" [(ngModel)]="field.selectedRef" (ngModelChange)="modelChangeAction()">
                <mat-option *ngFor="let opt of field.reference_values" [value]="opt.value">{{opt.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>

  
      <button *ngIf="meta.endpoints.insert" mat-button type="submit" [disabled]="!formGroup.valid" >Save</button>
      
    </form>
  
    <div *ngIf="payLoad && meta.endpoints.insert" class="form-row">
      Posted the following values to <a href="{{this.global.bBaseUri}}{{meta.endpoints.insert.url}}">backend</a><br>{{payLoad}}
    </div>
  </div>